* {
}


body {
background: #f4f4f4;
}


nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 30px;
background: #333;
color: white;
}


nav ul {
list-style: none;
display: flex;
}


nav ul li {
margin-left: 20px;
}


nav ul li a {
color: white;
text-decoration: none;
}


.hero {
text-align: center;
margin-top: 80px;
}


.form-container {
width: 90%;
max-width: 400px;
margin: 80px auto;
background: white;
padding: 25px;
border-radius: 5px;
}


.form-container h2 {
text-align: center;
margin-bottom: 20px;
}


form input {
width: 100%;
padding: 10px;
margin: 10px 0;
}


form button {
width: 100%;
padding: 10px;
background: #333;
color: white;
border: none;
cursor: pointer;
}


@media (max-width: 600px) {
nav {
flex-direction: column;
}
}
